.App {
  text-align: center;
  /* flex-direction: row; */
  display: flex;
  border: solid;
  /* justify-content: center;
  flex-direction: column; */
  padding-left: 20px;
}
.home{
  flex:1;
  border: 2px solid yellow;
  padding: 20px;
}

.home:first-child{
  margin-right: 100px;
  padding: 20px;
}